# TDT4225 Excercise 2 - Part 2

In [1]:
from DbConnector import DbConnector
import SqlQueriespt2 as SQ2

## Question 1: How many users, activities, and trackpoints are there in the dataset

In [2]:
db = DbConnector()

count_users_query = "SELECT COUNT(*) as n_user FROM User"
count_activities_query = "SELECT COUNT(*) as n_activity FROM Activity"
count_trackpoints_query = "SELECT COUNT(*) as n_trackpoints FROM TrackPoint"

SQ2.query_to_db(db, count_users_query)
SQ2.query_to_db(db, count_activities_query)
SQ2.query_to_db(db, count_trackpoints_query)
db.close_connection()

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  n_user
--------
     182
  n_activity
------------
       16048
  n_trackpoints
---------------
        9681756

-----------------------------------------------
Connection to 8.0.34-0ubuntu0.22.04.1 is closed

>NOTE! We do not count the original dataset here, we only count the part of the dataset that fits the requirements for the excercise.

## Question 2: Find the average, maximum, and minimum number of trackpoints per user

In [3]:

def statistics_trackpoints_per_user(function:str = "AVG"):
    string = f"""
        WITH 
            query AS (
                        SELECT COUNT(trackpoint_id) AS trackpoint_count, activity_id FROM TrackPoint
                        GROUP BY activity_id
                    ),
            activities AS (
                SELECT user_id, activity_id FROM Activity
                ),
            joined_user AS (SELECT activities.user_id, query.trackpoint_count FROM query JOIN activities ON query.activity_id = activities.activity_id)

            SELECT user_id, {function}(trackpoint_count) FROM joined_user
            GROUP BY user_id
        ;
        """
    return string

db = DbConnector()
SQ2.query_to_db(db, statistics_trackpoints_per_user("AVG"))
SQ2.query_to_db(db, statistics_trackpoints_per_user("MIN"))
SQ2.query_to_db(db, statistics_trackpoints_per_user("MAX"))
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id    AVG(trackpoint_count)
---------  -----------------------
      000                 670.871
      001                 824.965
      002                 924.801
      003                 807.387
      004                 761.858
      005                 587.548
      006                 801.125
      007                 758.275
      008                1376
      009                1218.32
      010                1212.15
      011                 451.756
      012                 629.783
      013                1388.3
      014                 905.936
      015                 806.583
      016                 690.222
      017                 868.245
      018                 540.795
      019                 372.291
      020                 754.814
      021                 298.125
      022                 900.695
      023                 979.312
      024                 860.408
      025                 606.295
      026                1034.71
      027                2037
      028                1195.36
      029                1713.17
      030                 871.352
      031                 489.5
      032                1190.43
      033                 735.25
      034                 558.678
      035                1449.71
      036                 803.75
      037                 890.977
      038                1071.51
      039                 756.51
      040                 953.55
      041                 797.416
      042                 555.946
      043                 795.094
      044                 628.492
      045                 752.125
      046                 703.807
      047                  65.8333
      048                1118
      050                 760.833
      051                 231.3
      052                 978.789
      053                  37.3333
      054                1093
      055                 132.526
      056                 129.161
      057                 127
      058                 298.789
      059                 902.8
      060                   8.5
      061                 140
      062                 381.266
      063                 709.857
      064                 835.706
      065                 556.73
      066                 889.375
      067                 812.643
      068                1034.3
      069                  76.8333
      070                1185
      071                 446.894
      072                  40.5
      073                 243.583
      074                 894.941
      075                 285.125
      076                  87.3636
      077                1048
      078                 370.505
      079                 488.826
      080                  79
      081                 698.929
      082                 831.553
      083                 505.742
      084                 947.722
      085                 713.22
      086                  93.5
      087                  19
      088                 458.136
      089                 280.525
      090                  40
      091                 116.592
      092                 277.494
      093                 290.227
      094                 127
      095                 971.121
      096                 891.378
      097                  40.8947
      098                 135.5
      099                  79.1875
      100                 893.857
      101                 202.029
      102                 175.737
      103                 709.362
      104                 263.688
      105                 197.7
      106                 661.667
      107                  66.3333
      108                  53.7778
      109                 148.75
      110                 220.8
      111                 348.318
      112                 340.197
      113                 605.193
      114                 536.174
      115                 732.189
      116                 838
      117                  42.625
      118                 272
      119                 987.469
      121                1073.4
      122                1321.17
      123                1438
      124                1467.2
      125                 800.696
      126                 720.981
      127                 335
      128                 480.649
      129                  55
      130                 771.714
      131                 858.4
      132                1125.33
      133                 765.75
      134                  55.44
      135                 976.5
      136                  76.8235
      138                 130.611
      139                  71.2105
      140                 489.319
      141                 637
      142                 708.514
      144                 373.057
      145                1075.2
      146                  27.2
      147                 403.464
      150                 127
      151                1322
      152                 782
      153                 534.211
      154                  94.4516
      155                 844.5
      157                 192.308
      158                 429.286
      159                 335.143
      161                  49.9375
      162                  30.8182
      163                 472.108
      164                  40.8571
      165                1160.6
      166                 170
      167                 640.131
      168                1537.19
      169                1245.97
      170                 875.4
      171                  35.4
      172                 758.278
      173                 161.667
      174                 104.357
      175                  77
      176                  44
      178                  84
      179                1171.44
      180                 293.25
      181                  45.8
  user_id    MIN(trackpoint_count)
---------  -----------------------
      000                        5
      001                       33
      002                        4
      003                        3
      004                        4
      005                        5
      006                       14
      007                        6
      008                      165
      009                      134
      010                        3
      011                        3
      012                       64
      013                       13
      014                        3
      015                       22
      016                        7
      017                        4
      018                        3
      019                       11
      020                        5
      021                        5
      022                       15
      023                       31
      024                        4
      025                        3
      026                        9
      027                     1760
      028                       32
      029                        4
      030                        9
      031                       23
      032                       62
      033                       39
      034                        4
      035                      200
      036                       13
      037                       14
      038                        8
      039                        7
      040                       39
      041                        3
      042                        4
      043                       26
      044                        3
      045                       71
      046                      175
      047                        4
      048                     1118
      050                        3
      051                        5
      052                        6
      053                        3
      054                      659
      055                        5
      056                        8
      057                        9
      058                        8
      059                      733
      060                        8
      061                       10
      062                        3
      063                       13
      064                       58
      065                        3
      066                       17
      067                       12
      068                        7
      069                       12
      070                       13
      071                       56
      072                       12
      073                        3
      074                        3
      075                       65
      076                       20
      077                      437
      078                        3
      079                      193
      080                       40
      081                        5
      082                        6
      083                        5
      084                       15
      085                        5
      086                       24
      087                        6
      088                       11
      089                        8
      090                        4
      091                        3
      092                        3
      093                        9
      094                        9
      095                       12
      096                       13
      097                        4
      098                       88
      099                        3
      100                      416
      101                        5
      102                        6
      103                        5
      104                        4
      105                        9
      106                      457
      107                       49
      108                        4
      109                       26
      110                        3
      111                        6
      112                        3
      113                      271
      114                       57
      115                        7
      116                      688
      117                       22
      118                        3
      119                       26
      121                      175
      122                      161
      123                       15
      124                      167
      125                        5
      126                        5
      127                       90
      128                        3
      129                        6
      130                      212
      131                      150
      132                       59
      133                      100
      134                        4
      135                       75
      136                       10
      138                        4
      139                        4
      140                        3
      141                       97
      142                        4
      144                        3
      145                      128
      146                        8
      147                        3
      150                        9
      151                     1322
      152                       66
      153                        4
      154                        5
      155                       28
      157                       18
      158                        6
      159                       63
      161                        4
      162                        4
      163                        3
      164                       11
      165                       32
      166                        7
      167                        4
      168                       12
      169                      384
      170                      546
      171                        3
      172                        5
      173                       14
      174                        4
      175                        7
      176                        8
      178                       84
      179                       10
      180                       15
      181                        3
  user_id    MAX(trackpoint_count)
---------  -----------------------
      000                     2359
      001                     2472
      002                     2438
      003                     2485
      004                     2482
      005                     2058
      006                     2478
      007                     2228
      008                     2499
      009                     2396
      010                     2485
      011                     2306
      012                     2277
      013                     2486
      014                     2499
      015                     2411
      016                     2360
      017                     2471
      018                     2245
      019                     2276
      020                     2325
      021                      744
      022                     2421
      023                     2215
      024                     2377
      025                     2464
      026                     2396
      027                     2480
      028                     2477
      029                     2440
      030                     2454
      031                     1254
      032                     2358
      033                     1205
      034                     2448
      035                     2493
      036                     2299
      037                     2421
      038                     2500
      039                     2464
      040                     2434
      041                     2491
      042                     2350
      043                     2005
      044                     2206
      045                     1932
      046                     2457
      047                      227
      048                     1118
      050                     2484
      051                      951
      052                     2454
      053                      130
      054                     1527
      055                      670
      056                     2225
      057                      510
      058                      983
      059                      983
      060                        9
      061                      443
      062                     2447
      063                     1986
      064                     1618
      065                     2336
      066                     2009
      067                     2439
      068                     2495
      069                      200
      070                     2486
      071                     1840
      072                       69
      073                     1270
      074                     2314
      075                      670
      076                      152
      077                     1728
      078                     1719
      079                      897
      080                      128
      081                     2168
      082                     2500
      083                     2444
      084                     2492
      085                     2431
      086                      198
      087                       36
      088                     2306
      089                     1500
      090                      132
      091                      757
      092                     2092
      093                     1595
      094                      510
      095                     1849
      096                     2404
      097                      189
      098                      218
      099                      648
      100                     2004
      101                     1039
      102                      859
      103                     1942
      104                     2036
      105                      393
      106                      776
      107                       81
      108                      260
      109                      307
      110                      870
      111                     1594
      112                     2439
      113                      785
      114                     1750
      115                     2262
      116                     1014
      117                       64
      118                     1086
      119                     2442
      121                     2457
      122                     2328
      123                     2160
      124                     2485
      125                     2481
      126                     2478
      127                      565
      128                     2498
      129                      143
      130                     2106
      131                     2003
      132                     2119
      133                     1390
      134                      599
      135                     2391
      136                      279
      138                      402
      139                      260
      140                     2472
      141                     1891
      142                     2482
      144                     2333
      145                     2227
      146                       49
      147                     2176
      150                      510
      151                     1322
      152                     2069
      153                     2496
      154                      285
      155                     2153
      157                      806
      158                     1832
      159                      725
      161                      112
      162                      110
      163                     2474
      164                       64
      165                     2463
      166                      631
      167                     2478
      168                     2495
      169                     2325
      170                      992
      171                       97
      172                     2456
      173                      468
      174                      487
      175                      191
      176                      114
      178                       84
      179                     2419
      180                     1024
      181                      110

>NOTE:
> 
>First value in returned tuple is `user_id` second value is the result of the passed function. 
>
> *Still only using DB values*

## Question 3: Find the top 15 users with the highest number of activities

In [4]:
query_top_15_active_users = """
SELECT user_id, COUNT(activity_id) AS result FROM Activity
GROUP BY user_id
ORDER BY result DESC
LIMIT 15
;
"""

db = DbConnector()
SQ2.query_to_db(db, query_top_15_active_users)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id    result
---------  --------
      128      2102
      153      1793
      025       715
      163       704
      062       691
      144       563
      041       399
      085       364
      004       346
      140       345
      167       320
      068       280
      017       265
      003       261
      014       236

## Question 4: Find all users who have taken a bus

In [5]:
bus_users_query = "SELECT DISTINCT user_id FROM Activity WHERE transportation_mode='bus'"
db = DbConnector()
SQ2.query_to_db(db, bus_users_query)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id
---------
      010
      052
      062
      073
      081
      084
      085
      091
      092
      112
      125
      128
      175

## Question 5: List the top 10 users by their amount of different transportation modes

In [6]:
top_10_users_modes_query = """
SELECT user_id, COUNT(DISTINCT transportation_mode) AS mode_count
FROM Activity
GROUP BY user_id
ORDER BY mode_count DESC
LIMIT 10
"""

db = DbConnector()
SQ2.query_to_db(db, top_10_users_modes_query)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id    mode_count
---------  ------------
      128             9
      062             7
      085             4
      084             3
      058             3
      163             3
      078             3
      081             3
      112             3
      065             2

## Question 6: Find activities that are registered multiple times

In [7]:
duplicate_activities_query = """
SELECT activity_id
FROM Activity
GROUP BY activity_id
HAVING COUNT(activity_id) > 1
"""
db = DbConnector()
SQ2.query_to_db(db, duplicate_activities_query)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

activity_id
-------------

## Question 7a: Find the number of users that have started an activity in one day and ended the activity the next day

In [8]:

users_start_end_next_day_query = """
WITH result AS (
    SELECT user_id
    FROM Activity
    WHERE DATE(start_date_time) != DATE(end_date_time)
)
SELECT DISTINCT user_id FROM result
;
"""
db = DbConnector()
SQ2.query_to_db(db, users_start_end_next_day_query)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id
---------
      000
      001
      002
      003
      004
      005
      006
      007
      010
      011
      013
      014
      015
      016
      017
      018
      019
      020
      021
      022
      024
      025
      026
      027
      028
      029
      030
      032
      035
      036
      037
      038
      039
      041
      042
      043
      044
      050
      051
      052
      053
      057
      058
      061
      062
      067
      068
      069
      070
      071
      074
      076
      081
      082
      083
      084
      085
      088
      091
      092
      094
      095
      099
      100
      101
      103
      104
      106
      108
      111
      112
      113
      115
      118
      124
      125
      126
      128
      129
      132
      134
      138
      139
      140
      142
      144
      146
      147
      150
      153
      155
      157
      163
      167
      168
      172
      174
      175

## Question 7b: List the transportation mode, user id, and duration for these activities

In [9]:
# Open and read the file as a single buffer
fd = open('./PART2_individual_SQL/Q7b.sql', 'r')
sqlFile = fd.read()
fd.close()
db = DbConnector()
SQ2.query_to_db(db, sqlFile)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id  transportation_mode    duration
---------  ---------------------  -------------------------------------
      175                         0 days 4 hours 39 minutes 44 seconds
      044                         0 days 2 hours 47 minutes 19 seconds
      044                         0 days 0 hours 47 minutes 15 seconds
      044                         0 days 0 hours 58 minutes 45 seconds
      044                         0 days 12 hours 14 minutes 12 seconds
      044                         0 days 14 hours 22 minutes 4 seconds
      044                         0 days 3 hours 0 minutes 45 seconds
      044                         0 days 6 hours 5 minutes 52 seconds
      044                         0 days 0 hours 40 minutes 50 seconds
      044                         0 days 2 hours 33 minutes 30 seconds
      044                         0 days 0 hours 9 minutes 20 seconds
      044                         0 days 7 hours 54 minutes 19 seconds
      044                         0 days 5 hours 43 minutes 45 seconds
      044                         0 days 1 hours 51 minutes 28 seconds
      051                         0 days 5 hours 46 minutes 53 seconds
      051                         1 days 5 hours 1 minutes 3 seconds
      011                         0 days 0 hours 26 minutes 25 seconds
      011                         0 days 0 hours 29 minutes 15 seconds
      011                         0 days 0 hours 34 minutes 25 seconds
      011                         0 days 0 hours 46 minutes 50 seconds
      174                         0 days 2 hours 19 minutes 51 seconds
      174                         0 days 1 hours 31 minutes 59 seconds
      129                         0 days 12 hours 34 minutes 15 seconds
      015                         0 days 10 hours 18 minutes 50 seconds
      015                         0 days 4 hours 11 minutes 55 seconds
      015                         0 days 3 hours 43 minutes 44 seconds
      015                         0 days 0 hours 41 minutes 15 seconds
      015                         0 days 10 hours 0 minutes 34 seconds
      015                         0 days 0 hours 51 minutes 45 seconds
      015                         0 days 0 hours 39 minutes 25 seconds
      015                         0 days 11 hours 33 minutes 1 seconds
      015                         0 days 0 hours 37 minutes 55 seconds
      015                         0 days 0 hours 52 minutes 45 seconds
      015                         0 days 0 hours 39 minutes 46 seconds
      015                         0 days 0 hours 45 minutes 45 seconds
      015                         0 days 0 hours 49 minutes 0 seconds
      015                         0 days 2 hours 39 minutes 40 seconds
      015                         0 days 10 hours 5 minutes 37 seconds
      015                         0 days 0 hours 38 minutes 25 seconds
      015                         0 days 0 hours 40 minutes 55 seconds
      015                         0 days 1 hours 14 minutes 44 seconds
      022                         0 days 5 hours 16 minutes 38 seconds
      022                         0 days 0 hours 29 minutes 30 seconds
      022                         0 days 0 hours 53 minutes 45 seconds
      022                         0 days 2 hours 7 minutes 10 seconds
      022                         0 days 1 hours 59 minutes 23 seconds
      022                         0 days 2 hours 45 minutes 37 seconds
      022                         0 days 1 hours 36 minutes 55 seconds
      153                         0 days 0 hours 8 minutes 37 seconds
      153                         0 days 3 hours 17 minutes 37 seconds
      153                         0 days 0 hours 16 minutes 1 seconds
      153                         0 days 0 hours 17 minutes 51 seconds
      153                         0 days 0 hours 34 minutes 7 seconds
      153                         0 days 0 hours 14 minutes 58 seconds
      153                         0 days 0 hours 22 minutes 52 seconds
      153                         0 days 0 hours 17 minutes 18 seconds
      153                         0 days 0 hours 12 minutes 9 seconds
      153                         0 days 0 hours 19 minutes 28 seconds
      153                         0 days 0 hours 15 minutes 7 seconds
      153                         0 days 0 hours 12 minutes 52 seconds
      153                         0 days 0 hours 18 minutes 48 seconds
      153                         0 days 0 hours 9 minutes 23 seconds
      153                         0 days 0 hours 20 minutes 4 seconds
      153                         0 days 0 hours 11 minutes 0 seconds
      153                         0 days 0 hours 16 minutes 39 seconds
      153                         0 days 0 hours 19 minutes 41 seconds
      153                         0 days 0 hours 20 minutes 29 seconds
      153                         0 days 0 hours 16 minutes 25 seconds
      153                         0 days 0 hours 19 minutes 4 seconds
      153                         0 days 0 hours 29 minutes 7 seconds
      153                         0 days 8 hours 29 minutes 9 seconds
      153                         0 days 2 hours 50 minutes 15 seconds
      153                         0 days 0 hours 13 minutes 54 seconds
      153                         0 days 0 hours 13 minutes 6 seconds
      153                         0 days 0 hours 25 minutes 17 seconds
      153                         0 days 4 hours 18 minutes 18 seconds
      153                         0 days 0 hours 52 minutes 34 seconds
      153                         0 days 0 hours 16 minutes 27 seconds
      153                         0 days 0 hours 15 minutes 33 seconds
      153                         0 days 0 hours 15 minutes 56 seconds
      153                         0 days 0 hours 16 minutes 5 seconds
      153                         0 days 0 hours 15 minutes 12 seconds
      153                         0 days 0 hours 12 minutes 19 seconds
      153                         0 days 0 hours 20 minutes 10 seconds
      153                         0 days 0 hours 36 minutes 27 seconds
      153                         0 days 0 hours 21 minutes 12 seconds
      153                         0 days 0 hours 18 minutes 58 seconds
      153                         0 days 0 hours 9 minutes 8 seconds
      153                         0 days 0 hours 41 minutes 1 seconds
      153                         0 days 0 hours 22 minutes 33 seconds
      153                         0 days 0 hours 16 minutes 38 seconds
      153                         0 days 0 hours 13 minutes 2 seconds
      153                         0 days 0 hours 12 minutes 20 seconds
      153                         0 days 0 hours 31 minutes 5 seconds
      153                         0 days 0 hours 16 minutes 43 seconds
      153                         0 days 0 hours 13 minutes 2 seconds
      153                         0 days 0 hours 15 minutes 41 seconds
      153                         0 days 0 hours 14 minutes 59 seconds
      153                         0 days 0 hours 6 minutes 30 seconds
      153                         0 days 10 hours 44 minutes 49 seconds
      153                         0 days 0 hours 21 minutes 47 seconds
      153                         0 days 0 hours 16 minutes 36 seconds
      153                         0 days 0 hours 12 minutes 42 seconds
      153                         0 days 0 hours 17 minutes 26 seconds
      153                         0 days 0 hours 16 minutes 22 seconds
      153                         0 days 0 hours 13 minutes 16 seconds
      153                         0 days 0 hours 19 minutes 31 seconds
      153                         0 days 0 hours 17 minutes 12 seconds
      153                         0 days 0 hours 17 minutes 7 seconds
      153                         0 days 0 hours 30 minutes 38 seconds
      153                         0 days 0 hours 10 minutes 31 seconds
      153                         0 days 10 hours 39 minutes 49 seconds
      153                         0 days 0 hours 16 minutes 29 seconds
      153                         0 days 0 hours 17 minutes 10 seconds
      153                         0 days 0 hours 17 minutes 55 seconds
      153                         0 days 0 hours 12 minutes 2 seconds
      153                         0 days 0 hours 13 minutes 47 seconds
      153                         0 days 0 hours 21 minutes 42 seconds
      153                         0 days 0 hours 19 minutes 15 seconds
      153                         0 days 0 hours 17 minutes 50 seconds
      153                         0 days 10 hours 9 minutes 57 seconds
      153                         0 days 0 hours 13 minutes 16 seconds
      153                         0 days 0 hours 14 minutes 11 seconds
      153                         0 days 0 hours 18 minutes 0 seconds
      153                         0 days 0 hours 12 minutes 44 seconds
      153                         0 days 0 hours 20 minutes 16 seconds
      153                         0 days 0 hours 11 minutes 27 seconds
      153                         0 days 0 hours 20 minutes 18 seconds
      153                         0 days 0 hours 15 minutes 30 seconds
      153                         0 days 0 hours 13 minutes 51 seconds
      153                         0 days 0 hours 15 minutes 13 seconds
      153                         0 days 0 hours 12 minutes 17 seconds
      153                         0 days 11 hours 39 minutes 31 seconds
      153                         0 days 0 hours 37 minutes 28 seconds
      153                         0 days 0 hours 16 minutes 56 seconds
      153                         0 days 0 hours 20 minutes 10 seconds
      153                         0 days 3 hours 2 minutes 8 seconds
      153                         0 days 0 hours 12 minutes 10 seconds
      153                         0 days 0 hours 12 minutes 4 seconds
      153                         0 days 0 hours 47 minutes 2 seconds
      153                         0 days 0 hours 15 minutes 17 seconds
      153                         0 days 8 hours 59 minutes 27 seconds
      153                         0 days 0 hours 15 minutes 59 seconds
      153                         0 days 0 hours 15 minutes 3 seconds
      153                         0 days 0 hours 12 minutes 7 seconds
      153                         0 days 9 hours 6 minutes 18 seconds
      153                         0 days 0 hours 19 minutes 12 seconds
      153                         0 days 0 hours 14 minutes 59 seconds
      153                         0 days 0 hours 17 minutes 53 seconds
      153                         0 days 0 hours 13 minutes 18 seconds
      153                         0 days 0 hours 14 minutes 44 seconds
      153                         0 days 0 hours 27 minutes 9 seconds
      153                         0 days 5 hours 42 minutes 40 seconds
      153                         0 days 0 hours 12 minutes 59 seconds
      153                         0 days 0 hours 16 minutes 14 seconds
      153                         0 days 0 hours 14 minutes 7 seconds
      153                         0 days 1 hours 23 minutes 42 seconds
      153                         0 days 0 hours 8 minutes 30 seconds
      153                         0 days 0 hours 8 minutes 10 seconds
      153                         0 days 0 hours 18 minutes 20 seconds
      153                         0 days 13 hours 4 minutes 46 seconds
      153                         0 days 0 hours 10 minutes 39 seconds
      153                         0 days 0 hours 15 minutes 28 seconds
      153                         0 days 0 hours 5 minutes 52 seconds
      153                         0 days 0 hours 37 minutes 29 seconds
      153                         0 days 0 hours 23 minutes 45 seconds
      153                         0 days 0 hours 10 minutes 11 seconds
      153                         0 days 0 hours 12 minutes 40 seconds
      153                         0 days 0 hours 15 minutes 18 seconds
      153                         0 days 1 hours 3 minutes 12 seconds
      153                         0 days 0 hours 22 minutes 47 seconds
      153                         0 days 0 hours 10 minutes 58 seconds
      153                         0 days 0 hours 11 minutes 38 seconds
      153                         0 days 0 hours 18 minutes 12 seconds
      153                         0 days 0 hours 12 minutes 48 seconds
      153                         0 days 0 hours 16 minutes 50 seconds
      153                         0 days 0 hours 7 minutes 33 seconds
      153                         0 days 0 hours 12 minutes 6 seconds
      153                         0 days 0 hours 11 minutes 38 seconds
      153                         0 days 0 hours 13 minutes 34 seconds
      153                         0 days 7 hours 52 minutes 24 seconds
      153                         0 days 0 hours 15 minutes 0 seconds
      153                         0 days 0 hours 6 minutes 25 seconds
      153                         0 days 0 hours 12 minutes 51 seconds
      153                         0 days 0 hours 14 minutes 58 seconds
      153                         0 days 0 hours 16 minutes 20 seconds
      153                         0 days 0 hours 10 minutes 32 seconds
      153                         0 days 0 hours 19 minutes 18 seconds
      153                         0 days 0 hours 14 minutes 2 seconds
      153                         0 days 9 hours 51 minutes 17 seconds
      153                         0 days 0 hours 15 minutes 35 seconds
      153                         0 days 0 hours 7 minutes 30 seconds
      153                         0 days 0 hours 18 minutes 45 seconds
      153                         0 days 0 hours 10 minutes 22 seconds
      153                         0 days 0 hours 21 minutes 59 seconds
      153                         0 days 0 hours 10 minutes 19 seconds
      153                         0 days 0 hours 16 minutes 26 seconds
      153                         0 days 0 hours 17 minutes 17 seconds
      153                         0 days 0 hours 8 minutes 25 seconds
      153                         0 days 0 hours 17 minutes 44 seconds
      153                         0 days 0 hours 22 minutes 6 seconds
      153                         0 days 0 hours 17 minutes 35 seconds
      153                         0 days 0 hours 17 minutes 47 seconds
      153                         0 days 0 hours 12 minutes 3 seconds
      153                         0 days 5 hours 59 minutes 35 seconds
      153                         0 days 0 hours 16 minutes 0 seconds
      153                         0 days 0 hours 11 minutes 19 seconds
      153                         0 days 0 hours 12 minutes 13 seconds
      153                         0 days 0 hours 16 minutes 37 seconds
      153                         0 days 0 hours 20 minutes 34 seconds
      153                         0 days 0 hours 48 minutes 20 seconds
      153                         0 days 0 hours 14 minutes 43 seconds
      153                         0 days 0 hours 16 minutes 57 seconds
      153                         0 days 0 hours 17 minutes 18 seconds
      153                         0 days 0 hours 16 minutes 25 seconds
      153                         0 days 0 hours 13 minutes 1 seconds
      153                         0 days 0 hours 4 minutes 44 seconds
      153                         0 days 0 hours 18 minutes 52 seconds
      153                         0 days 8 hours 16 minutes 2 seconds
      153                         0 days 0 hours 12 minutes 47 seconds
      153                         0 days 0 hours 13 minutes 2 seconds
      153                         0 days 0 hours 8 minutes 3 seconds
      153                         0 days 0 hours 16 minutes 53 seconds
      153                         0 days 0 hours 13 minutes 38 seconds
      153                         0 days 0 hours 17 minutes 11 seconds
      153                         0 days 0 hours 9 minutes 39 seconds
      153                         0 days 7 hours 34 minutes 1 seconds
      153                         0 days 2 hours 23 minutes 3 seconds
      153                         0 days 0 hours 16 minutes 9 seconds
      153                         0 days 0 hours 7 minutes 47 seconds
      153                         0 days 0 hours 12 minutes 5 seconds
      153                         0 days 0 hours 12 minutes 29 seconds
      153                         0 days 8 hours 45 minutes 39 seconds
      153                         0 days 0 hours 32 minutes 9 seconds
      153                         0 days 0 hours 14 minutes 28 seconds
      153                         0 days 0 hours 15 minutes 9 seconds
      153                         0 days 0 hours 43 minutes 9 seconds
      153                         0 days 0 hours 42 minutes 51 seconds
      153                         0 days 0 hours 17 minutes 28 seconds
      153                         0 days 0 hours 47 minutes 39 seconds
      153                         0 days 0 hours 12 minutes 56 seconds
      153                         0 days 0 hours 15 minutes 13 seconds
      153                         0 days 0 hours 15 minutes 21 seconds
      153                         0 days 2 hours 24 minutes 12 seconds
      153                         0 days 5 hours 46 minutes 35 seconds
      153                         0 days 2 hours 13 minutes 45 seconds
      153                         0 days 0 hours 14 minutes 11 seconds
      153                         0 days 0 hours 27 minutes 23 seconds
      153                         0 days 0 hours 13 minutes 7 seconds
      153                         0 days 0 hours 16 minutes 53 seconds
      153                         0 days 0 hours 9 minutes 17 seconds
      153                         0 days 0 hours 15 minutes 14 seconds
      153                         0 days 4 hours 15 minutes 51 seconds
      153                         0 days 0 hours 14 minutes 40 seconds
      153                         0 days 0 hours 9 minutes 7 seconds
      153                         0 days 0 hours 23 minutes 10 seconds
      153                         0 days 0 hours 21 minutes 23 seconds
      153                         0 days 0 hours 17 minutes 22 seconds
      153                         0 days 0 hours 8 minutes 13 seconds
      153                         0 days 0 hours 10 minutes 14 seconds
      153                         0 days 0 hours 26 minutes 53 seconds
      153                         0 days 0 hours 9 minutes 32 seconds
      153                         0 days 0 hours 54 minutes 30 seconds
      153                         0 days 6 hours 42 minutes 6 seconds
      153                         0 days 0 hours 21 minutes 43 seconds
      153                         0 days 0 hours 18 minutes 4 seconds
      153                         0 days 0 hours 37 minutes 59 seconds
      153                         0 days 0 hours 17 minutes 0 seconds
      153                         0 days 0 hours 15 minutes 37 seconds
      153                         0 days 0 hours 21 minutes 17 seconds
      153                         0 days 0 hours 18 minutes 58 seconds
      153                         0 days 0 hours 10 minutes 55 seconds
      153                         0 days 0 hours 23 minutes 19 seconds
      153                         0 days 0 hours 17 minutes 45 seconds
      153                         0 days 0 hours 54 minutes 58 seconds
      153                         0 days 0 hours 9 minutes 46 seconds
      153                         0 days 0 hours 22 minutes 13 seconds
      153                         0 days 0 hours 15 minutes 14 seconds
      153                         0 days 0 hours 14 minutes 11 seconds

## Question 8: Find the number of users which have been close to each other in time and space

> NOTE! Current query runs for a very long time!

In [ ]:
fd = open('./PART2_individual_SQL/Q8.sql', 'r')
sqlFile = fd.read()
fd.close()
db = DbConnector()
SQ2.query_to_db(db, sqlFile)
db.close_connection

## Question 9: Find the top 15 users who have gained the most altitude meters

Here we want to remove all invalid datapoints regarding altitude (e.g. -777) and sumarize the total altitude gained. For our purpose iwe believe we also should ignore the negative altitude gains since we then move downwards. To put it like this; If you walk up a mountain and then down again you would not say you have gained an altitude of 0 meters on the trip. You would only count the ascending meters. Thus we do the same. This would probably lead to the user with most airplane travel to be at the top of our ranking. 

```sql
WITH trackpoint_a_cleaner AS( 

    SELECT TrackPoint.*, t2.user_id
    FROM TrackPoint
    JOIN Activity as t2
    ON TrackPoint.activity_id = t2.activity_id
    WHERE altitude != -777
)

SELECT 
    A.user_id,  
    SUM((B.altitude) - (A.altitude) * 0.3048) as altitude_gain
FROM  trackpoint_a_cleaner AS A
JOIN trackpoint_a_cleaner AS B 
    ON(A.trackpoint_id = B.trackpoint_id-1)
WHERE A.activity_id = B.activity_id 
    AND (B.altitude - A.altitude) > 0
GROUP BY user_id
ORDER BY altitude_gain DESC
LIMIT 15;
```
Resulting in query: 

```
+---------+----------------+
| user_id | altitude_gain  |
+---------+----------------+
| 128     | 139415077.9024 |      <------- Takes airplane a lot. 
| 144     |  58499208.3848 |
| 153     |  47142690.7184 |
| 111     |  24241207.1184 |
| 163     |  21519546.3040 |
| 041     |  18172433.7368 |
| 004     |  16746594.0032 |
| 085     |  13334995.5272 |
| 002     |  11986135.4376 |
| 039     |  10640030.8416 |
| 030     |  10227064.8424 |
| 003     |   9684581.5936 |
| 167     |   9124008.9184 |
| 084     |   8343871.6712 |
| 013     |   6994028.2680 |
+---------+----------------+
15 rows in set (1 min 45.98 sec)
```

In [10]:
#Python edition

fd = open('./PART2_individual_SQL/Q9.sql', 'r')
sqlFile = fd.read()
fd.close()
db = DbConnector()
SQ2.query_to_db(db, sqlFile)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id    altitude_gain
---------  ---------------
      128      1.39415e+08
      144      5.84992e+07
      153      4.71427e+07
      111      2.42412e+07
      163      2.15195e+07
      041      1.81724e+07
      004      1.67466e+07
      085      1.3335e+07
      002      1.19861e+07
      039      1.064e+07
      030      1.02271e+07
      003      9.68458e+06
      167      9.12401e+06
      084      8.34387e+06
      013      6.99403e+06

## Question 10: Find the users that have traveled the longest total distance in one day for each transportation mode.

Getting all activities with a certain transport
```sql
/*
* Question 10: Find the users that have traveled the longest total distance in one day for each transportation mode.
* INCLUDES ACTIVITES THAT CROSSES MULTIPLE DATES BUT ONLY TAKES INTO ACCOUNT TRACKPOINTS IN THE SAME DAY. 
* HOWEVER RETURNS MULTIPLE USERS SINCE THEY HAVE SAME MAX
*/
WITH transport_same_day AS (
    SELECT 
        user_id, 
        activity_id, 
        transportation_mode 
    FROM 
        Activity 
    WHERE 
        transportation_mode != 'NULL' 
), 

joined AS (
    SELECT 
        lon, 
        lat,
        date_time, 
        trackpoint_id,
        transport_same_day.user_id,
        transport_same_day.transportation_mode 
    FROM 
        TrackPoint 
    JOIN 
        transport_same_day 
    ON 
        TrackPoint.activity_id = transport_same_day.activity_id

),

distances_per_day AS (
    SELECT 
        SUM(SQRT(POW(A.lon-B.lon, 2)+POW(A.lat-B.lat, 2))*111139) as distance_in_meters, 
        A.user_id as user_id, 
        A.transportation_mode AS transportation_mode,
        DATE(A.date_time) AS date_date
    FROM joined A
    JOIN joined B ON (A.trackpoint_id = B.trackpoint_id -1)
    WHERE DATE(A.date_time) = DATE(B.date_time)
    GROUP BY date_date, user_id, transportation_mode

),

sumarized_by_day_tm AS(
SELECT 
    user_id, 
    SUM(distance_in_meters) AS total_daily_distance, 
    transportation_mode,
    date_date 
FROM distances_per_day
GROUP BY user_id, date_date, transportation_mode
)
SELECT A.user_id, A.transportation_mode, A.total_daily_distance, A.date_date
FROM (
    SELECT 
        MAX(total_daily_distance) as max_daily,
        transportation_mode 
    FROM 
        sumarized_by_day_tm 
    GROUP BY
        transportation_mode
        ) AS B
JOIN sumarized_by_day_tm AS A
    ON B.transportation_mode = A.transportation_mode
WHERE A.transportation_mode = B.transportation_mode AND A.total_daily_distance = B.max_daily
;
```

OUTPUT OF 
```
+---------+---------------------+----------------------+------------+
| user_id | transportation_mode | total_daily_distance | date_date  |
+---------+---------------------+----------------------+------------+
| 108     | walk                |    29273.53825036155 | 2007-10-03 |
| 139     | walk                |    29273.53825036155 | 2007-10-03 |
| 128     | bike                |    73143.37846558148 | 2008-06-28 |
| 062     | run                 |   40.082311659663425 | 2008-09-02 |
| 062     | train               |    350357.8121884449 | 2008-09-02 |
| 128     | taxi                |   41157.635837726746 | 2008-09-30 |
| 128     | car                 |   520868.34688762604 | 2008-10-02 |
| 128     | subway              |    35760.66025889879 | 2008-10-31 |
| 128     | boat                |    69989.41164522138 | 2008-11-22 |
| 128     | bus                 |   221259.96968129047 | 2009-01-20 |
| 128     | airplane            |    44462819.63427694 | 2009-03-06 |
+---------+---------------------+----------------------+------------+
```

Here we hace two users with the exact same amount of total daily distance of walk. Also on the same date :O 

```
mysql> SELECT *      FROM Activity     WHERE Activity.transportation_mode != 'NULL'      AND user_id = '108';
+-------------+---------+---------------------+---------------------+---------------------+
| activity_id | user_id | transportation_mode | start_date_time     | end_date_time       |
+-------------+---------+---------------------+---------------------+---------------------+
|       12663 | 108     | walk                | 2007-10-02 14:25:15 | 2007-10-02 14:45:18 |     <------!!!
|       12665 | 108     | bike                | 2007-10-09 00:26:41 | 2007-10-09 00:40:32 |     <------!!!
|       12671 | 108     | walk                | 2007-10-03 07:58:04 | 2007-10-03 11:54:19 |     <------!!!
+-------------+---------+---------------------+---------------------+---------------------+
3 rows in set (0.00 sec)

mysql> SELECT *      FROM Activity     WHERE Activity.transportation_mode != 'NULL'      AND user_id = '139';
+-------------+---------+---------------------+---------------------+---------------------+
| activity_id | user_id | transportation_mode | start_date_time     | end_date_time       |
+-------------+---------+---------------------+---------------------+---------------------+
|        9102 | 139     | walk                | 2007-10-02 14:25:15 | 2007-10-02 14:45:18 |     <------!!!
|        9105 | 139     | bike                | 2007-09-20 14:43:58 | 2007-09-20 14:55:00 |
|        9106 | 139     | bike                | 2007-10-09 00:26:41 | 2007-10-09 00:40:32 |     <------!!!
|        9112 | 139     | bike                | 2007-09-14 00:42:03 | 2007-09-14 00:45:21 |
|        9117 | 139     | walk                | 2007-10-03 07:58:04 | 2007-10-03 11:54:19 |     <------!!!
|        9119 | 139     | bike                | 2007-09-19 00:35:51 | 2007-09-19 00:43:45 |
+-------------+---------+---------------------+---------------------+---------------------+
6 rows in set (0.00 sec)
```
A simple analysis shows that we have 3 suspiciously similar entries marked with `<------!!!`
```sql
WITH 108_139_acts AS(
    SELECT * FROM Activity WHERE user_id = '108' or user_id = '139'
),

merged AS (
    SELECT A.*, B.user_id 
    FROM TrackPoint as A
    JOIN 108_139_acts as B
    ON A.activity_id = B.activity_id
)

SELECT A.activity_id, A.date_time, A.lon, A.lat, A.user_id, B.activity_id, B.date_time, B.lon, B.lat, B.user_id
FROM (
    SELECT *
    FROM merged
    WHERE user_id = '108') as A
JOIN (
    SELECT *
    FROM merged
    WHERE user_id = '139') as B
ON A.date_time = B.date_time
WHERE A.lon = B.lon 
AND A.lat = B.lat; 

```
Resulting in : 

![image](./img_notebook/suspicious10_1.png)
...
![image](./img_notebook/suspicious10_2.png)

Here we see that the users have 484 duplicate records.
Advised action would be to drop some of the duplicate actions or do a deeper analysis to see if one user can be deleted in its entirety.

In [11]:
# Python edition
fd = open('./PART2_individual_SQL/Q10.sql', 'r')
sqlFile = fd.read()
fd.close()
db = DbConnector()
SQ2.query_to_db(db, sqlFile)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id  transportation_mode      total_daily_distance  date_date
---------  ---------------------  ----------------------  -----------
      108  walk                          29273.5          2007-10-03
      139  walk                          29273.5          2007-10-03
      128  bike                          73143.4          2008-06-28
      062  run                              40.0823       2008-09-02
      062  train                        350358            2008-09-02
      128  taxi                          41157.6          2008-09-30
      128  car                          520868            2008-10-02
      128  subway                        35760.7          2008-10-31
      128  boat                          69989.4          2008-11-22
      128  bus                          221260            2009-01-20
      128  airplane                          4.44628e+07  2009-03-06

## Question 11: Find all users who have invalid activities, and the number of invalid activities per user
- An invalid activity is defined as an activity with consecutive trackpoints where the timestamps deviate with at least 5 minutes.

First we test if we can find the difference in time between the different trackpoints in any one given activity: 

```sql
SELECT 
    A.activity_id,
    TIMESTAMPDIFF(SECOND, A.date_time, B.date_time) as sec_dif
FROM TrackPoint A
JOIN TrackPoint B
ON (A.trackpoint_id = B.trackpoint_id -1)
WHERE A.activity_id = 1 AND B.activity_id = 1
;
```
Below we first see all tracpoints associated with activity_id 1 and then see the results from the query above. 
```
+---------------+-------------+------------------+------------------+----------+---------------------+
| trackpoint_id | activity_id | lat              | lon              | altitude | date_time           |
+---------------+-------------+------------------+------------------+----------+---------------------+
|             1 |           1 |         39.96335 |         116.3307 |      105 | 2007-10-22 01:47:04 |
|             2 |           1 |          39.9659 | 116.314716666667 |      105 | 2007-10-22 01:47:40 |
|             3 |           1 | 39.9659166666667 |        116.31565 |      105 | 2007-10-22 01:48:25 |
|             4 |           1 |          39.9665 | 116.315866666667 |      105 | 2007-10-22 01:49:25 |
|             5 |           1 | 39.9669166666667 | 116.314716666667 |      125 | 2007-10-22 01:49:46 |
|             6 |           1 | 39.9679666666667 | 116.314283333333 |      217 | 2007-10-22 01:51:19 |
|             7 |           1 |          39.9681 | 116.313866666667 |      285 | 2007-10-22 01:56:45 |
+---------------+-------------+------------------+------------------+----------+---------------------+
7 rows in set (0.00 sec)

+-------------+---------+
| activity_id | sec_dif |
+-------------+---------+
|           1 |      36 |
|           1 |      45 |
|           1 |      60 |
|           1 |      21 |
|           1 |      93 |
|           1 |     326 |
+-------------+---------+
6 rows in set (0.00 sec)

```
We can verify that the difference between each trackpoint is correct. 

Now we want to test if we can only get the differences that are above 60 seconds

```sql
SELECT *
FROM(

    SELECT 
        A.activity_id,
        A.trackpoint_id as track_id_A,
        B.trackpoint_id as track_id_B,
        TIMESTAMPDIFF(SECOND, A.date_time, B.date_time) as sec_dif
    FROM TrackPoint A
    JOIN TrackPoint B
    ON (A.trackpoint_id = B.trackpoint_id -1)
    WHERE A.activity_id = 1 AND B.activity_id = 1
) as dif_table
WHERE sec_dif > 60
;
```
This resulted in: 
```
+-------------+------------+------------+---------+
| activity_id | track_id_A | track_id_B | sec_dif |
+-------------+------------+------------+---------+
|           1 |          5 |          6 |      93 |
|           1 |          6 |          7 |     326 |
+-------------+------------+------------+---------+
2 rows in set (0.00 sec)
```

Now we want to run this on all trackpoints, resulting in a list with ONLY the activity id. We don really need to keep track of the different trackpoint differences after we've chosen only those activities with a difference above our threshold. Thus we only need to set the `WHERE statement to A.activity_id = B.activity_id` and select distinct activites from the resulting table

```sql
WITH invalid_act AS(
    SELECT *
    FROM(

        SELECT 
            A.activity_id,
            A.trackpoint_id as track_id_A,
            B.trackpoint_id as track_id_B,
            TIMESTAMPDIFF(SECOND, A.date_time, B.date_time) as sec_dif
        FROM TrackPoint A
        JOIN TrackPoint B
        ON (A.trackpoint_id = B.trackpoint_id -1)
        WHERE A.activity_id = B.activity_id
    ) as dif_table
    WHERE sec_dif > 300 /* 5 minutes */
)

SELECT DISTINCT activity_id
FROM invalid_act
;
```

Resulting in many rows, here are the last few: 
```
|       16028 |
|       16029 |
|       16034 |
|       16035 |
|       16036 |
|       16038 |
|       16040 |
|       16044 |
|       16046 |
|       16047 |
|       16048 |
+-------------+
7001 rows in set (1 min 12.71 sec)
```

Now we only need to join this with the activity table to get the user_id and count instances to get the final result. 

```sql
WITH invalid_act AS(
    SELECT *
    FROM(

        SELECT 
            A.activity_id,
            A.trackpoint_id as track_id_A,
            B.trackpoint_id as track_id_B,
            TIMESTAMPDIFF(SECOND, A.date_time, B.date_time) as sec_dif
        FROM TrackPoint A
        JOIN TrackPoint B
        ON (A.trackpoint_id = B.trackpoint_id -1)
        WHERE A.activity_id = B.activity_id
    ) as dif_table
    WHERE sec_dif > 300 /* 5 minutes */
),

dist_acts AS (
SELECT DISTINCT activity_id
FROM invalid_act
)

SELECT 
    Activity.user_id, 
    COUNT(dist_acts.activity_id) as N_invalid_activities
FROM dist_acts
JOIN Activity
ON Activity.activity_id = dist_acts.activity_id
GROUP BY user_id
;
```

```
+---------+----------------------+
| user_id | N_invalid_activities |
+---------+----------------------+
| 000     |                  101 |
| 001     |                   45 |
| 002     |                   98 |
| 003     |                  179 |
| 004     |                  219 |
| 005     |                   44 |
| 006     |                   17 |
| 007     |                   30 |
| 008     |                   16 |
| 009     |                   31 |
| 010     |                   50 |
| 011     |                   32 |
| 012     |                   43 |
| 013     |                   29 |
| 014     |                  118 |
| 015     |                   46 |
| 016     |                   20 |
| 017     |                  129 |
| 018     |                   27 |
| 019     |                   31 |
| 020     |                   20 |
| 021     |                    7 |
| 022     |                   55 |
| 023     |                   11 |
| 024     |                   27 |
| 025     |                  263 |
| 026     |                   18 |
| 027     |                    2 |
| 028     |                   36 |
| 029     |                   25 |
| 030     |                  112 |
| 031     |                    3 |
| 032     |                   12 |
| 033     |                    2 |
| 034     |                   88 |
| 035     |                   23 |
| 036     |                   34 |
| 037     |                  100 |
| 038     |                   58 |
| 039     |                  147 |
| 040     |                   17 |
| 041     |                  201 |
| 042     |                   54 |
| 043     |                   21 |
| 044     |                   31 |
| 045     |                    7 |
| 046     |                   13 |
| 047     |                    6 |
| 048     |                    1 |
| 050     |                    8 |
| 051     |                   36 |
| 052     |                   44 |
| 053     |                    7 |
| 054     |                    2 |
| 055     |                   15 |
| 056     |                    7 |
| 057     |                   16 |
| 058     |                   13 |
| 059     |                    5 |
| 060     |                    1 |
| 061     |                   12 |
| 062     |                  248 |
| 063     |                    8 |
| 064     |                    7 |
| 065     |                   25 |
| 066     |                    6 |
| 067     |                   33 |
| 068     |                  139 |
| 069     |                    6 |
| 070     |                    5 |
| 071     |                   27 |
| 072     |                    2 |
| 073     |                   17 |
| 074     |                   19 |
| 075     |                    6 |
| 076     |                    8 |
| 077     |                    3 |
| 078     |                   19 |
| 079     |                    2 |
| 080     |                    6 |
| 081     |                   16 |
| 082     |                   27 |
| 083     |                   15 |
| 084     |                   99 |
| 085     |                  182 |
| 086     |                    5 |
| 087     |                    3 |
| 088     |                   11 |
| 089     |                   40 |
| 090     |                    3 |
| 091     |                   63 |
| 092     |                  101 |
| 093     |                    4 |
| 094     |                   16 |
| 095     |                    4 |
| 096     |                   35 |
| 097     |                   14 |
| 098     |                    5 |
| 099     |                   11 |
| 100     |                    3 |
| 101     |                   46 |
| 102     |                   13 |
| 103     |                   24 |
| 104     |                   97 |
| 105     |                    9 |
| 106     |                    3 |
| 107     |                    1 |
| 108     |                    5 |
| 109     |                    3 |
| 110     |                   17 |
| 111     |                   26 |
| 112     |                   66 |
| 113     |                    1 |
| 114     |                    3 |
| 115     |                   58 |
| 117     |                    3 |
| 118     |                    3 |
| 119     |                   22 |
| 121     |                    4 |
| 122     |                    6 |
| 123     |                    3 |
| 124     |                    4 |
| 125     |                   25 |
| 126     |                  104 |
| 127     |                    4 |
| 128     |                  719 |
| 129     |                    6 |
| 130     |                    8 |
| 131     |                   10 |
| 132     |                    3 |
| 133     |                    4 |
| 134     |                   31 |
| 135     |                    5 |
| 136     |                    6 |
| 138     |                   10 |
| 139     |                   12 |
| 140     |                   86 |
| 141     |                    1 |
| 142     |                   52 |
| 144     |                  157 |
| 145     |                    5 |
| 146     |                    7 |
| 147     |                   30 |
| 150     |                   16 |
| 151     |                    1 |
| 152     |                    2 |
| 153     |                  556 |
| 154     |                   14 |
| 155     |                   30 |
| 157     |                    9 |
| 158     |                    9 |
| 159     |                    5 |
| 161     |                    7 |
| 162     |                    9 |
| 163     |                  232 |
| 164     |                    6 |
| 165     |                    2 |
| 166     |                    2 |
| 167     |                  134 |
| 168     |                   19 |
| 169     |                    9 |
| 170     |                    2 |
| 171     |                    3 |
| 172     |                    9 |
| 173     |                    5 |
| 174     |                   54 |
| 175     |                    4 |
| 176     |                    8 |
| 179     |                   28 |
| 180     |                    2 |
| 181     |                   14 |
+---------+----------------------+
171 rows in set (2 min 3.58 sec)
```

In [12]:
# Python Edition
fd = open('./PART2_individual_SQL/Q11.sql', 'r')
sqlFile = fd.read()
fd.close()
db = DbConnector()
SQ2.query_to_db(db, sqlFile)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id    N_invalid_activities
---------  ----------------------
      000                     101
      001                      45
      002                      98
      003                     179
      004                     219
      005                      44
      006                      17
      007                      30
      008                      16
      009                      31
      010                      50
      011                      32
      012                      43
      013                      29
      014                     118
      015                      46
      016                      20
      017                     129
      018                      27
      019                      31
      020                      20
      021                       7
      022                      55
      023                      11
      024                      27
      025                     263
      026                      18
      027                       2
      028                      36
      029                      25
      030                     112
      031                       3
      032                      12
      033                       2
      034                      88
      035                      23
      036                      34
      037                     100
      038                      58
      039                     147
      040                      17
      041                     201
      042                      54
      043                      21
      044                      31
      045                       7
      046                      13
      047                       6
      048                       1
      050                       8
      051                      36
      052                      44
      053                       7
      054                       2
      055                      15
      056                       7
      057                      16
      058                      13
      059                       5
      060                       1
      061                      12
      062                     248
      063                       8
      064                       7
      065                      25
      066                       6
      067                      33
      068                     139
      069                       6
      070                       5
      071                      27
      072                       2
      073                      17
      074                      19
      075                       6
      076                       8
      077                       3
      078                      19
      079                       2
      080                       6
      081                      16
      082                      27
      083                      15
      084                      99
      085                     182
      086                       5
      087                       3
      088                      11
      089                      40
      090                       3
      091                      63
      092                     101
      093                       4
      094                      16
      095                       4
      096                      35
      097                      14
      098                       5
      099                      11
      100                       3
      101                      46
      102                      13
      103                      24
      104                      97
      105                       9
      106                       3
      107                       1
      108                       5
      109                       3
      110                      17
      111                      26
      112                      66
      113                       1
      114                       3
      115                      58
      117                       3
      118                       3
      119                      22
      121                       4
      122                       6
      123                       3
      124                       4
      125                      25
      126                     104
      127                       4
      128                     719
      129                       6
      130                       8
      131                      10
      132                       3
      133                       4
      134                      31
      135                       5
      136                       6
      138                      10
      139                      12
      140                      86
      141                       1
      142                      52
      144                     157
      145                       5
      146                       7
      147                      30
      150                      16
      151                       1
      152                       2
      153                     556
      154                      14
      155                      30
      157                       9
      158                       9
      159                       5
      161                       7
      162                       9
      163                     232
      164                       6
      165                       2
      166                       2
      167                     134
      168                      19
      169                       9
      170                       2
      171                       3
      172                       9
      173                       5
      174                      54
      175                       4
      176                       8
      179                      28
      180                       2
      181                      14

## Question 12: Find all users who have registered transportation_mode and their most used transportation_mode.
- The answer should be on format (user_id, most_used_transportation_mode) sorted on user_id.
- Some users may have the same number of activities tagged with e.g. walk and car. In this case it is up to you to decide which transportation mode to include in your answer (choose one).
- Do not count the rows where the mode is null.

```SQL
WITH transport_modes AS (
    SELECT 
        user_id, 
        activity_id, 
        transportation_mode 
    FROM 
        Activity 
    WHERE 
        transportation_mode != 'NULL' 
), 

counted_tm AS (
    SELECT 
        user_id, 
        COUNT(*) AS n_used, 
        transportation_mode
    FROM 
        transport_modes
    GROUP BY 
        transportation_mode, user_id
),

max_for_each_user AS (
    SELECT 
        A.user_id, 
        A.n_used AS max_count,
        A.transportation_mode
    FROM 
        counted_tm AS A
    JOIN (
        SELECT 
            user_id, 
            MAX(n_used) AS max_n_used
        FROM 
            counted_tm
        GROUP BY 
            user_id
    ) AS B
    ON 
        A.user_id = B.user_id 
        AND A.n_used = B.max_n_used
)

SELECT max_for_each_user.*
FROM max_for_each_user
WHERE max_for_each_user.transportation_mode = (
    SELECT t2.transportation_mode
    FROM max_for_each_user as t2
    WHERE t2.user_id = max_for_each_user.user_id
    ORDER BY rand()
    LIMIT 1
)
ORDER BY max_for_each_user.user_id
;
```

RESULTS
```
+---------+-----------+---------------------+
| user_id | max_count | transportation_mode |
+---------+-----------+---------------------+
| 010     |         3 | taxi                |
| 020     |        81 | bike                |
| 021     |         1 | walk                |
| 052     |         1 | bus                 |
| 056     |        15 | bike                |
| 058     |         2 | walk                |
| 060     |         1 | walk                |
| 062     |       173 | bus                 |
| 064     |         1 | bike                |
| 065     |        10 | bike                |
| 067     |         1 | walk                |
| 069     |         1 | bike                |
| 073     |        52 | walk                |
| 075     |         1 | walk                |
| 076     |         3 | car                 |
| 078     |        37 | walk                |
| 081     |         4 | bike                |
| 082     |         2 | walk                |
| 084     |         9 | walk                |
| 085     |        18 | walk                |
| 086     |         2 | car                 |
| 087     |         5 | walk                |
| 089     |         7 | car                 |
| 091     |         2 | walk                |
| 092     |         1 | walk                |
| 097     |         9 | bike                |
| 098     |         1 | taxi                |
| 101     |         3 | car                 |
| 102     |         7 | bike                |
| 107     |         1 | walk                |
| 108     |         2 | walk                |
| 111     |         3 | taxi                |
| 112     |        69 | walk                |
| 115     |        80 | car                 |
| 117     |         1 | walk                |
| 125     |         3 | bike                |
| 126     |        13 | bike                |
| 128     |       312 | car                 |
| 136     |         3 | walk                |
| 138     |         2 | bike                |
| 139     |         4 | bike                |
| 144     |         2 | walk                |
| 153     |         5 | walk                |
| 161     |         1 | walk                |
| 163     |        26 | bike                |
| 167     |        31 | bike                |
| 175     |         1 | bus                 |
+---------+-----------+---------------------+
47 rows in set (0.01 sec)
```

In [13]:
fd = open('./PART2_individual_SQL/Q12.sql', 'r')
sqlFile = fd.read()
fd.close()
db = DbConnector()
SQ2.query_to_db(db, sqlFile)
db.close_connection

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

  user_id    max_count  transportation_mode
---------  -----------  ---------------------
      010            3  taxi
      020           81  bike
      021            1  walk
      052            1  bus
      056           15  bike
      060            1  walk
      062          173  walk
      064            1  bike
      065           10  bike
      067            1  walk
      069            1  bike
      073           52  walk
      075            1  walk
      076            3  car
      078           37  walk
      080            1  taxi
      081            4  bike
      082            2  walk
      084            9  walk
      085           18  walk
      086            2  car
      087            5  walk
      089            7  car
      092            1  walk
      092            1  bus
      097            9  bike
      098            1  taxi
      101            3  car
      102            7  bike
      107            1  walk
      108            2  walk
      111            3  taxi
      112           69  walk
      115           80  car
      117            1  walk
      125            3  bike
      126           13  bike
      128          312  car
      136            3  walk
      138            2  bike
      139            4  bike
      144            2  walk
      153            5  walk
      161            1  walk
      163           26  bike
      167           31  bike
      175            1  bus