# TDT4225 Excercise 2 - Part 2

In [1]:
from DbConnector import DbConnector
import SqlQueriespt2 as SQ2

## Question 1: How many users, activities, and trackpoints are there in the dataset

In [2]:
db = DbConnector()

count_users_query = "SELECT COUNT(*) FROM User"
count_activities_query = "SELECT COUNT(*) FROM Activity"
count_trackpoints_query = "SELECT COUNT(*) FROM TrackPoint"

SQ2.query_to_db(db, count_users_query)
SQ2.query_to_db(db, count_activities_query)
SQ2.query_to_db(db, count_trackpoints_query)
db.close_connection()

2023-10-04 13:59:41,138 SQL PART2  INFO Executing: SELECT COUNT(*) FROM User
2023-10-04 13:59:41,163 SQL PART2  INFO Executing: SELECT COUNT(*) FROM Activity
2023-10-04 13:59:41,190 SQL PART2  INFO Executing: SELECT COUNT(*) FROM TrackPoint

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

Rows produced by statement 'SELECT COUNT(*) FROM User':
[(182,)]
Rows produced by statement 'SELECT COUNT(*) FROM Activity':
[(16048,)]
Rows produced by statement 'SELECT COUNT(*) FROM TrackPoint':
[(9681756,)]

-----------------------------------------------
Connection to 8.0.34-0ubuntu0.22.04.1 is closed

>NOTE! We do not count the original dataset here, we only count the part of the dataset that fits the requirements for the excercise.

## Question 2: Find the average, maximum, and minimum number of trackpoints per user

In [ ]:

def statistics_trackpoints_per_user(function:str = "AVG"):
    string = f"""
        WITH 
            query AS (
                        SELECT COUNT(trackpoint_id) AS trackpoint_count, activity_id FROM TrackPoint
                        GROUP BY activity_id
                    ),
            activities AS (
                SELECT user_id, activity_id FROM Activity
                ),
            joined_user AS (SELECT activities.user_id, query.trackpoint_count FROM query JOIN activities ON query.activity_id = activities.activity_id)

            SELECT user_id, {function}(trackpoint_count) FROM joined_user
            GROUP BY user_id
        ;
        """
    return string

db = DbConnector()
SQ2.query_to_db(db, statistics_trackpoints_per_user("AVG"))
SQ2.query_to_db(db, statistics_trackpoints_per_user("MIN"))
SQ2.query_to_db(db, statistics_trackpoints_per_user("MAX"))
db.close_connection

>NOTE:
> 
>First value in returned tuple is `user_id` second value is the result of the passed function. 
>
> *Still only using DB values*

## Question 3: Find the top 15 users with the highest number of activities

In [ ]:
query_top_15_active_users = """
SELECT user_id, COUNT(activity_id) AS result FROM Activity
GROUP BY user_id
ORDER BY result DESC
LIMIT 15
;
"""

db = DbConnector()
SQ2.query_to_db(db, query_top_15_active_users)
db.close_connection

## Question 4: Find all users who have taken a bus

In [11]:
bus_users_query = "SELECT DISTINCT user_id FROM Activity WHERE transportation_mode='bus'"
db = DbConnector()
SQ2.query_to_db(db, bus_users_query)
db.close_connection

2023-10-04 15:46:11,369 SQL PART2  INFO Executing: SELECT DISTINCT user_id FROM Activity WHERE transportation_mode='bus'

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

Rows produced by statement 'SELECT DISTINCT user_id FROM Activity WHERE transportation_mode='bus'':
[('010',), ('052',), ('062',), ('073',), ('081',), ('084',), ('085',), ('091',), ('092',), ('112',), ('125',), ('128',), ('175',)]

## Question 5: List the top 10 users by their amount of different transportation modes

In [12]:
top_10_users_modes_query = """
SELECT user_id, COUNT(DISTINCT transportation_mode) AS mode_count
FROM Activity
GROUP BY user_id
ORDER BY mode_count DESC
LIMIT 10
"""

db = DbConnector()
SQ2.query_to_db(db, top_10_users_modes_query)
db.close_connection

2023-10-04 15:47:35,431 SQL PART2  INFO Executing:
SELECT user_id, COUNT(DISTINCT transportation_mode) AS mode_count
FROM Activity
GROUP BY user_id
ORDER BY mode_count DESC
LIMIT 10

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

Rows produced by statement 'SELECT user_id, COUNT(DISTINCT transportation_mode) AS mode_count
FROM Activity
GROUP BY user_id
ORDER BY mode_count DESC
LIMIT 10':
[('128', 9), ('062', 7), ('085', 4), ('084', 3), ('058', 3), ('163', 3), ('078', 3), ('081', 3), ('112', 3), ('065', 2)]

## Question 6: Find activities that are registered multiple times

In [13]:
duplicate_activities_query = """
SELECT activity_id
FROM Activity
GROUP BY activity_id
HAVING COUNT(activity_id) > 1
"""
db = DbConnector()
SQ2.query_to_db(db, duplicate_activities_query)
db.close_connection

2023-10-04 15:49:28,087 SQL PART2  INFO Executing:
SELECT activity_id
FROM Activity
GROUP BY activity_id
HAVING COUNT(activity_id) > 1

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

Rows produced by statement 'SELECT activity_id
FROM Activity
GROUP BY activity_id
HAVING COUNT(activity_id) > 1':
[]

## Question 7a: Find the number of users that have started an activity in one day and ended the activity the next day

In [26]:

users_start_end_next_day_query = """
WITH result AS (
    SELECT user_id
    FROM Activity
    WHERE DATE(start_date_time) != DATE(end_date_time)
)
SELECT DISTINCT user_id FROM result
;
"""
db = DbConnector()
SQ2.query_to_db(db, users_start_end_next_day_query)
db.close_connection

2023-10-04 16:03:34,669 SQL PART2  INFO Executing:
WITH result AS (
    SELECT user_id
    FROM Activity
    WHERE DATE(start_date_time) != DATE(end_date_time)
)
SELECT DISTINCT user_id FROM result
;

Connected to: 8.0.34-0ubuntu0.22.04.1
You are connected to the database: ('main_db',)
-----------------------------------------------

Rows produced by statement 'WITH result AS (
    SELECT user_id
    FROM Activity
    WHERE DATE(start_date_time) != DATE(end_date_time)
)
SELECT DISTINCT user_id FROM result':
[('000',), ('001',), ('002',), ('003',), ('004',), ('005',), ('006',), ('007',), ('010',), ('011',), ('013',), ('014',), ('015',), ('016',), ('017',), ('018',), ('019',), ('020',), ('021',), ('022',), ('024',), ('025',), ('026',), ('027',), ('028',), ('029',), ('030',), ('032',), ('035',), ('036',), ('037',), ('038',), ('039',), ('041',), ('042',), ('043',), ('044',), ('050',), ('051',), ('052',), ('053',), ('057',), ('058',), ('061',), ('062',), ('067',), ('068',), ('069',), ('070',), ('071',), ('074',), ('076',), ('081',), ('082',), ('083',), ('084',), ('085',), ('088',), ('091',), ('092',), ('094',), ('095',), ('099',), ('100',), ('101',), ('103',), ('104',), ('106',), ('108',), ('111',), ('112',), ('113',), ('115',), ('118',), ('124',), ('125',), ('126',), ('128',), ('129',), ('132',), ('134',), ('138',), ('139',), ('140',), ('142',), ('144',), ('146',), ('147',), ('150',), ('153',), ('155',), ('157',), ('163',), ('167',), ('168',), ('172',), ('174',), ('175',)]

## Question 7b: List the transportation mode, user id, and duration for these activities

In [ ]:
q = """
SELECT user_id, transportation_mode
FROM Activity
WHERE DATE(start_date_time) != DATE(end_date_time)
"""